/* SelectSubject.css */

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.subject-selection {
  width: 100%;
  text-align: center;
  padding: 40px 20px;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/certificate.jpg') no-repeat center/cover;
  color: white;
  animation: slideDown 0.8s ease-out;
  
}

.subjects{
margin-left: 655px;
}

.subjects button {
  width: 160px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  animation: slideDown 1.2s ease-out;
  display: block;
  margin: 10px;
  

}

.subjects button:hover {
  transform: scale(1.08);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* Individual subject designs */
.mathematics-design {
  background: url('../../assets/svgs.jpg') no-repeat center/cover;
}

.physics-design {
  background: url('../../assets/d3.jpg') no-repeat center/cover;
}

.chemistry-design {
  background: url('../../assets/chiroyli.jpg') no-repeat center/cover;
}

.biology-design {
  background: url('../../assets/de.jpg') no-repeat center/cover;
}

.english-design {
  background: url('../../assets/salom.jpg') no-repeat center/cover;
}

@media screen and (max-width:420px) {
.subjects{
  
  margin-left: 90px;
}
}