.box {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background: url('../../assets/we3.png') no-repeat center center; /* Rasmni markazlashtirish */
  background-size: contain; /* Rasmni kesmasdan saqlash */
  text-align: center;
  color: #0a0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  object-fit: cover;
}

.box h1 {
  font-size: 28px;
  margin-top: 50px;
  font-weight: bold;
  padding-left: 20px;
}

.bola {
  margin-top: 50px;
  padding: 20px;
}

.box h3 {
  font-size: 20px;
  margin: 10px 0;
}

.box p {
  font-size: 16px;
}

.signature {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #fff;
  width: 300px;
  text-align: center;
}

.qrcode {
  position: absolute;
  top:310px;
  right: 400px;
}

button {
  background-color: DodgerBlue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin: auto;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: RoyalBlue;
}

/* 720px va kichik ekranlar uchun */
@media screen and (max-width: 720px) {
  .box {
    height: 400px; /* Balandlikni kichraytirish */
  }

  .box h1,
  .box h3,
  .box p {
    font-size: 16px;
  }

  .qrcode {
    top: 200px;
    right: 60px;
    width: 40px;
    height: 40px;
  }
  .bola {
    margin-top: 2px;
    padding: 10px;
  }
}

/* 420px va kichik ekranlar uchun */
@media screen and (max-width: 420px) {
  .box {
    height: 400px; /* Balandlikni saqlash */
  }

  .box h1,
  .box h3,
  .box p {
    font-size: 12px;
  }

  .qrcode {
    top: 230px;
    right: 40px;
    width: 15px;
    height: 30px;
    font-size: 14px;
  }
}

.logotiv {
  letter-spacing: 10px;
}
