.linklar {
    text-align: center;
    margin-top: 20px;
}

.linklar a {
    color: #007BFF;
    text-decoration: none;
    font-size: 16px;
}

.linklar a:hover {
    text-decoration: underline;
}
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: url('../../assets/certificate.jpg') no-repeat center/cover;
    max-width: 600px;
    margin: 20px;
    width: 100%;
    height: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form .ant-form-item {
    margin-bottom: 16px;
}

.login-form .ant-input {
    height: 40px;
}

.login-form .ant-btn {
    height: 40px;
}

.error-message {
    color: red;
    margin-bottom: 16px;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-links a {
    color: DodgerBlue;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container {
        padding: 10px;
        box-shadow: none;
        border: none;
    }

    .login-form .ant-input, .login-form .ant-btn {
        height: 36px;
    }
    
    .login-form .ant-form-item {
        margin-bottom: 12px;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 5px;
    }
    
    .login-form .ant-input, .login-form .ant-btn {
        height: 32px;
    }

    .login-form .ant-form-item {
        margin-bottom: 8px;
    }
}

.rasm {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/certificate.jpg') no-repeat center/cover;
}
